<!DOCTYPE html>
<html>
  <head>
    <title>Shoelocker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", :root, class: "nav__link" %>
      <img src="<%= image_path("banner.png") %>" />
      <%= link_to "Add Shoe", new_product_path, class: "nav__link" %>
    </nav>
    <%= yield %>
  </body>
</html>
